In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("C:\\Users\\91755\\Desktop\\Excelr Assignments\\Recommendation System\\Recommendation System\\anime.csv")
data

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [5]:
data.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [9]:
data.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [13]:
data.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [23]:
data['genre'].unique()

array([nan])

In [27]:
# Ensure the 'genre' column is of string type and handle missing values
data['genre'] = data['genre'].fillna("").astype(str)

# Split the genres into lists
data['genre'] = data['genre'].str.split(', ')

# Apply one-hot encoding to genres
mlb = MultiLabelBinarizer()
genres_encoded = mlb.fit_transform(data['genre'])
genres_data = pd.DataFrame(genres_encoded, columns=mlb.classes_)

# Combine the encoded genres with the original DataFrame
data = pd.concat([data, genres_data], axis=1)

# Verify the updated DataFrame
print(data.head())

   anime_id                              name genre   type episodes  rating  \
0     32281                    Kimi no Na wa.    []  Movie        1    9.37
1      5114  Fullmetal Alchemist: Brotherhood    []     TV       64    9.26
2     28977                          Gintama°    []     TV       51    9.25
3      9253                       Steins;Gate    []     TV       24    9.17
4      9969                     Gintama&#039;    []     TV       51    9.16

   members
0   200630  1
1   793665  1
2   114262  1
3   673572  1
4   151266  1

In [33]:
from sklearn.preprocessing import MinMaxScaler

# Check for missing or non-numeric values in the columns
data[['rating', 'episodes', 'members']] = data[['rating', 'episodes', 'members']].fillna(0)

# Convert columns to numeric if necessary
data[['rating', 'episodes', 'members']] = data[['rating', 'episodes', 'members']].apply(pd.to_numeric, errors='coerce')

# Normalize the numerical columns
scaler = MinMaxScaler()
data[['rating', 'episodes', 'members']] = scaler.fit_transform(data[['rating', 'episodes', 'members']])

# Display the normalized columns
print(data[['rating', 'episodes', 'members']].head())

   rating  episodes   members
0   0.937  0.000000  0.197872
1   0.926  0.034673  0.782770
2   0.925  0.027518  0.112689
3   0.917  0.012658  0.664325
4   0.916  0.027518  0.149186

In [35]:
# Combine features into a single feature matrix
feature_matrix = pd.concat([genres_data, data[['rating', 'episodes', 'members']]], axis=1)
feature_matrix

          rating  episodes   members
0      1   0.937  0.000000  0.197872
1      1   0.926  0.034673  0.782770
2      1   0.925  0.027518  0.112689
3      1   0.917  0.012658  0.664325
4      1   0.916  0.027518  0.149186
...   ..     ...       ...       ...
12289  1   0.415  0.000000  0.000203
12290  1   0.428  0.000000  0.000176
12291  1   0.488  0.001651  0.000211
12292  1   0.498  0.000000  0.000168
12293  1   0.546  0.000000  0.000135

[12294 rows x 4 columns]

In [39]:
feature_matrix.isnull().sum()

              0
rating        0
episodes    340
members       0
dtype: int64

In [43]:
feature_matrix = feature_matrix.fillna(0)
feature_matrix

          rating  episodes   members
0      1   0.937  0.000000  0.197872
1      1   0.926  0.034673  0.782770
2      1   0.925  0.027518  0.112689
3      1   0.917  0.012658  0.664325
4      1   0.916  0.027518  0.149186
...   ..     ...       ...       ...
12289  1   0.415  0.000000  0.000203
12290  1   0.428  0.000000  0.000176
12291  1   0.488  0.001651  0.000211
12292  1   0.498  0.000000  0.000168
12293  1   0.546  0.000000  0.000135

[12294 rows x 4 columns]

In [49]:
from sklearn.model_selection import train_test_split

# Split the dataset into training and testing sets
train, test = train_test_split(data, test_size=0.2, random_state=42)
train, test

(       anime_id                               name genre     type  episodes  \
 3013       5342                  Asura Cryin&#039;    []       TV  0.006604
 4253       9581                       MM! Specials    []  Special  0.004403
 9791       9810     Nyani ga Nyandaa Nyandaa Kamen    []       TV  0.045129
 2629       1539  Touch: Cross Road - Kaze no Yukue    []  Special  0.000000
 4608       4439                  Kurenai Sanshirou    []       TV  0.013759
 ...         ...                                ...   ...      ...       ...
 11964      4638                           Milkyway    []      OVA  0.000550
 5191       5272        Tondemo Nezumi Daikatsuyaku    []    Movie  0.000000
 5390       1262           Macross II: Lovers Again    []      OVA  0.002752
 860       22819                     Aikatsu! Movie    []    Movie  0.000000
 7270       2364          Virus: Virus Buster Serge    []       TV  0.006054

        rating   members
 3013    0.710  0.067662  1
 4253    0.677  0.021163  1
 9791    0.675  0.000162  1
 2629    0.721  0.001487  1
 4608    0.668  0.000590  1
 ...       ...       ... ..
 11964   0.582  0.000681  1
 5191    0.653  0.000244  1
 5390    0.647  0.006662  1
 860     0.779  0.002769  1
 7270    0.559  0.002214  1

 [9835 rows x 8 columns],
        anime_id                                              name genre  \
 6329      17209  Suzy&#039;s Zoo: Daisuki! Witzy - Happy Birthday    []
 2167        173                                           Tactics    []
 2882       3616                                 Kamen no Maid Guy    []
 4700      18799                                     Take Your Way    []
 7258      18831                                           Rinkaku    []
 ...         ...                                               ...   ...
 9652      26305                               Naita Aka Oni (OVA)    []
 549       30311               Kuroko no Basket 3rd Season NG-shuu    []
 7550      30327                                     New York Trip    []
 5210      13137                Itsuka Tenma no Kuro Usagi Special    []
 10156     33163                               Seishain Cyborg 003    []

           type  episodes  rating   members
 6329   Special  0.000000   0.617  0.000151  1
 2167        TV  0.013209   0.734  0.026978  1
 2882        TV  0.006054   0.714  0.027375  1
 4700     Music  0.000000   0.666  0.001363  1
 7258     Music  0.000000   0.560  0.000593  1
 ...        ...       ...     ...       ... ..
 9652       OVA  0.000000   0.575  0.000042  1
 549    Special  0.004403   0.798  0.010625  1
 7550     Movie  0.000000   0.531  0.000124  1
 5210   Special  0.000000   0.652  0.003201  1
 10156      ONA  0.000550   0.439  0.000148  1

 [2459 rows x 8 columns])

In [61]:
# Handle missing values
data = data.fillna(0)  # Replace NaN with 0

# Define the feature matrix (combine normalized numerical features and one-hot encoded genres)
features = ['rating', 'episodes', 'members'] + list(mlb.classes_)  # Include genres
feature_matrix = data[features].values  # Convert to a NumPy array

# Verify that there are no NaN values
if pd.DataFrame(feature_matrix).isnull().sum().sum() > 0:
    print("Feature matrix still contains NaN values!")
else:
    print("Feature matrix is clean!")

# Compute the cosine similarity matrix
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(feature_matrix)

# Check the shape of the similarity matrix
print(f"Cosine Similarity Matrix Shape: {cosine_sim.shape}")

# Evaluate the system
precision, recall, f1 = evaluate_recommendations(data, test, cosine_sim)
print(f"Precision: {precision:.2f}, Recall: {recall:.2f}, F1-Score: {f1:.2f}")

Feature matrix is clean!
Cosine Similarity Matrix Shape: (12294, 12294)
Precision: 0.01, Recall: 1.00, F1-Score: 0.02

In [65]:
anime_name = "Kimi no Na wa."  # Example anime name (adjust as needed)

# Check if the anime exists in the dataset
if anime_name in data['name'].values:
    recommendations = recommend_anime(anime_name, cosine_sim, data)
    print(f"Recommendations for '{anime_name}':\n", recommendations[['name', 'rating']])
else:
    print(f"'{anime_name}' not found in the dataset!")

Recommendations for 'Kimi no Na wa.':
                                   name  rating
14             Haikyuu!! Second Season   0.893
26    Monogatari Series: Second Season   0.880
18        Ookami Kodomo no Ame to Yuki   0.884
4                        Gintama&#039;   0.916
42  Ansatsu Kyoushitsu (TV) 2nd Season   0.868

In [ ]:
1. Difference Between User-Based and Item-Based Collaborative Filtering:
-->
User-Based: Recommends items by finding similar users. Focuses on user similarity.
Item-Based: Recommends items based on item similarity. Focuses on item relationships.

2. What is Collaborative Filtering?
-->
A recommendation method using user-item interactions to suggest items.
Works by identifying patterns from historical preferences and making predictions for unseen items.